@font-face {
    font-family: "Arial";
    src: url(fonts/arial/arial-regular.ttf), 
         url(fonts/arial/arial-black.ttf),
         url(fonts/arial/arial-bold-italic.ttf),
         url(fonts/arial/arial-bold.ttf),
         url(fonts/arial/arial-italic.ttf),
         url(fonts/arial/arial-narrow-bold-italic.ttf),
         url(fonts/arial/arial-narrow-bold.ttf),
         url(fonts/arial/arial-narrow-italic.ttf),
         url(fonts/arial/arial-narrow.ttf);
}
@font-face {
    font-family: "Georgia";
    src: url(fonts/georgia/georgia-regular.ttf),
         url(fonts/georgia/georgia-bold.ttf),
         url(fonts/georgia/georgia-bold-italic.ttf),
         url(fonts/georgia/georgia-italic.ttf);
}